<?xml version="1.0" encoding="UTF-8"?>

<suite name="INetBankingWithTestNG">

	<listeners>
		<listener class-name="com.cg.utilities.Reporting"></listener>
	</listeners>


	<test name="Login Test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.cg.testCases.TC001_LoginTest"></class> 
			<class name="com.cg.testCases.TC002_LoginDDT"></class>  
			<class name="com.cg.testCases.TC003_AddNewCustomer"></class> 
		</classes>
	</test>


</suite>